.navbar{

    background-color: var(--bg-navbar);
    max-width: 100%;
    max-height: 10%;
    top: 0;
    z-index: 1000;

}

.container_nav{

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}

.logo{

    margin: .3% 1%;

}

.logo img{

    width: 12%;

}

.nav{

    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 1%;

}

.nav li {

    font-size: 18px;
    color: var(--text-color-padrao);

}

.nav li:hover {

    color: var(--text-color-destaque);

}

.Page_Atual{

    color: var(--text-color-destaque);

}

.Icon g{

    fill: #fff;

}

.user_icon{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    height: 100%;
    margin: 0 1%;
    
}

.user_icon:hover {

cursor: pointer;

}

#plusIcon {

    width: 20%;

}

