.bg_costumezable {

    fill: linear-gradient(180deg, #57009E 0%, rgba(115, 115, 115, 0.00) 100%);
    bottom: 0;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 68%;
    
}

#img_Logo{

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -100;
    height: 90%;
    margin-left: 5%;

}

#img_Corvos{

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 90%;

}

.container_cadastro{

    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 90%;

}

.card_cadastro {

    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 75%;
    margin: 17%;
    padding:  2% 0;
    border-radius: 10px;

}

.card_cadastro label {

    width: 60%;

}

.text_title {

    font-size: 200%;

}

.card_cadastro .ipt {

    margin: 0;
    min-height: 7%;
    height: 8%;
    width: 60%;
    margin-bottom: 2%;

}

.button {

    width: 30%;
    min-height: 8%;
    height: 8%;
    margin: 2% 0;

}

