input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

option {

    background: rgba(0, 15, 29, 0.50);
    color: var(--text-padr達o);
    border: none;

}

.container_campanha {
    
    display: flex;
    flex-direction: row;
    justify-self: center;   
    width: 60%;
    height: 80%;
    margin-top: 2%;
    background: linear-gradient(100deg, rgba(78, 148, 158, 0.50) 0.25%, rgba(0, 15, 29, 0.50) 94%);
    box-shadow: 9px 6px 10.4px 0 rgba(0, 0, 0, 0.25);

}

.propriedades {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 35%;
    height: 100%;

}


.propriedades span, label, select {
    
    width: 75%;
    
}

label{

    font-size: large;
    align-items: center;

}

.propriedades select {

    background: none;
    border: none;
    font-family: "Cormorant Garamond", serif;
    font-size: large;
    font-weight: 400;
    background: none;
    border: none;
    color: var(--text-padr達o);
    margin-bottom: 1%

}

.propriedades .text_title {

    width: 80%;
    margin-top: 10%;
    font-size: 200%;
    text-align: center;
    background: none;
    border: none;
    color: var(--text-padr達o)
}

.spn_title {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    font-size: large;
    align-items: center;

}

.spn_title input{

    display: flex;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-size: large;
    font-weight: 400;
    background: none;
    border: none;
    color: var(--text-padr達o);
    padding: 0 2%;


}

#sessoes {

    width: 30%;

}

.group_button {

    display: flex;
    justify-content: end;
    width: 100%;
    height: 5%;
    gap: 2%;

}

.group_button .button{
 
    width: 15%;
    height: 100%;

}

#sair {

    background: var(--bg-gradiend-vermelho);

}

#sair:hover{

    box-shadow: 0 4px 10px red;

}

.historia {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 8%;

}

#tex_historia {

    min-width: 100%;
    max-width: 100%;
    min-height: 80%;
    max-height: 80%;
    background: var(--bg-cardHistoria);
    padding: 3%;

}





