/* Configura a área principal do rodapé com cor de fundo, cor do texto e alinhamento */
.footer {

    background: var(--bg-navbar);
    color: var(--text-padrao);
    font-family: 'Inter' sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;

}

/* Organiza os elementos principais do rodapé lado a lado */
.container_footer {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-around;

}

/* Define a área do slogan com alinhamento em coluna */
.ftr_slogan {

    width: 40%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    
}

/* Ajusta o tamanho e espaçamento da imagem do slogan */
.ftr_slogan img {

    width: 20%;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 3%;

}

/* Estiliza o texto do slogan centralizando o conteúdo */
#slogan {

    display: flex;
    width: 100%;
    height: 50%;
    font-size: larger;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* Define o estilo do título da seção de links */
.ftr_links h4 {

    font-size: 18px;
    margin-bottom: 10%;

}

/* Ajusta o espaçamento entre os itens da lista de links */
.ftr_links li {

    margin-bottom: 3px;

}

/* Configura a área de contatos com alinhamento central vertical */
.ftr_contatos {

    width: 30%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}

/* Define o estilo do título da seção de contatos */
.ftr_contatos h4{

    font-size: 18px;
    margin-bottom: 10%;

}

/* Ajusta o tamanho dos ícones de contato */
.ftr_contatos img {

    width: 10%;
    margin-right: 2%;

}

/* Posiciona os itens da lista de contatos lado a lado com espaçamento */
.ftr_contatos li{

    margin:  15px 0;
    margin-right: 2px ;
    display: flex;
    align-items: center;

}

/* Estiliza a linha divisória do rodapé */
.footer hr {

    width: 80%;
    color: rgba(163, 239, 250, 1);
    border: solid 1px;

}

/* Ajusta o espaçamento do texto de direitos autorais */
#direitos {

    margin-top: 1.4%;

}
