@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+French+Canon:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+French+Canon:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


.im-fell-french-canon-regular {
  font-family: "IM Fell French Canon", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-french-canon-regular-italic {
  font-family: "IM Fell French Canon", serif;
  font-weight: 400;
  font-style: italic;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{

    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;

}

body {

  background-color: var(--bg-page);
  color: var(--text-color-padrao);

}

a {

    text-decoration: none;
    color: inherit;

}

li {

    list-style: none;

}

:root {

    --bg-navbar: rgba(0, 25, 46, 50%);
    --bg-page: rgb(0, 15, 29);
    --bg-card: rgba(77, 89, 110, .7);
    --bg-sidebar: linear-gradient(180deg, #001425 24.21%, #176A6C);
    --bg-cardCampanha: linear-gradient(-90deg, #000f1d 10%, #176A6C);
    --bg-cardHistoria: rgba(213, 250, 255, 0.80);
    
    --text-color-padrao: rgb(255, 255, 255);
    --text-color-destaque: rgb(47, 153, 166);
    --text-color-erro: rgb(223, 13, 13);

    --bg-gradiend-claro: rgba(163, 239, 250, 1);
    --bg-gradiend-medio: rgba(105, 195, 208, 1);
    --bg-gradiend-escuro: rgba(0, 111, 123, 1);
    --bg-gradiend-vermelho: linear-gradient(90deg, #FF1149, #8E0A29);


}

.text_title {

    font-family: "Cormorant Garamond", serif;
    font-size: 300%;
    font-weight: 400;
    margin-bottom: 3%;

}

.ipt {

  height: 22%;
  border: none;
  border-radius: 5px;
  margin: 2%;
  padding: 0 3%;
  background-color: rgba(117, 213, 226, 0.5);

}

.button {
  border: none;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    var(--bg-gradiend-medio) 0%,
    var(--bg-gradiend-escuro) 100%
  );
  color: var(--bt-text-color);
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px var(--bg-gradiend-claro) ;
}

.div_erros {

  color: var(--text-color-erro);
  text-align: center;
  width: 70%;

}