.card_login{

    background-color: var(--bg-navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-self: end;
    width: 25%;
    height: 35%;
    border-radius: 2px;
    position: absolute;
    top: 10%;
    z-index: 1000;

}

.div_ipt {

    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 65%;
    height: 50%;
    
}

.btn {

    height: 12%;
    width: 40%;
    margin-bottom: 2%;

}