.container_tomo {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    gap: 2%;

}

.btn{

    width: 10%;
    height: 100%;

}

.button {

    width: 100%;
    height: 5%;
    border-radius: 20px;
    margin: 25% 0;

}

.container_campanha {

    width: 45%;
    height: 35%;

}

.card_campanha {
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(96deg, rgba(78, 148, 158, 0.50) 0.25%, rgba(0, 15, 29, 0.50) 100%);
    box-shadow: 9px 6px 10.4px 0 rgba(0, 0, 0, 0.25);
    margin: 5% 0;

}

.text_title {

    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 175%;

}