.container_card {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    gap: 2%;

}

.btn{

    width: 10%;
    height: 100%;

}

.button {

    width: 100%;
    height: 5%;
    border-radius: 20px;
    margin: 25% 0;

}

.container_campanha {

    width: 45%;
    height: 35%;

}

.card_campanha {
    
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(96deg, rgba(78, 148, 158, 0.50) 0.25%, rgba(0, 15, 29, 0.50) 100%);
    box-shadow: 9px 6px 10.4px 0 rgba(0, 0, 0, 0.25);
    margin: 5% 0;

}

.container_flex{
    
    width: 65%;
    height: 100%;

}

.text_title {

    width: 100%;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 175%;
    padding: 2%;
    margin: 0;

}

.text {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3%;

}

#spn_sistema {

    margin-bottom: 4%;

}

.camp_descricao {

    width: 100%;
    min-height: 45%;
    margin-left: 3.5%;
    padding-top: 2%;

}

.detalhes {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;


}

