.container_tomo{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 90%;

}

.sidebar{

    background: var(--bg-sidebar);
    max-width: 20%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;


}

.container_conteudo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: start;
    width: 70%;
    margin: 5%;
    gap: 3%;

}

.title_side{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6% 0;
    gap: 3%;
}

.d20 {

    width: 12%;

}

.text_title{

    font-size: x-large;
    cursor: pointer;
    margin-bottom: 0;

}

.container_conteudo .text_title{

    font-size: 300%;

}

.topico {

    font-size: x-large;
    cursor: pointer;

}

.title_conteudo{

    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 90%;

}

.conteudo_side {

    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    width: 90%;


}

.conteudo {

    width: 100%;

}



.icon_transition img{

    transition: opacity .25s ease;

}

.livro_fechado{

    position: absolute;

}

.aberto {

    opacity: 1;

}

.fechado {

    opacity: 0;

}
